.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    text-align: center;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }

    &__section {
        display: flex;
        gap: 50px;
        align-items: center;
    }

    &__image {
        width: 180px;
        height: 220px;
        border-radius: 15px;
    }

    &__title {
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }

    &__price {
        text-decoration: none;
        font-size: 20px;
    }
}
