.sliderContainer {
    margin: 50px 20px 0 20px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.card {
    text-align: center;

    img {
        width: 320px !important;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
    .info {
        margin-top: 10px;

        .title {
            font-size: 16px;
            color: #333;
        }

        .price {
            font-size: 14px;
            color: #888;
        }
    }
}
