.sliderContainer {
    width: 100%;

    h2 {
        text-align: center;
        margin: 40px 0;
    }
}

.card {
    text-align: center;

    img {
        width: 95%!important;
        margin: 0 auto;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
    .info {
        margin-top: 10px;

        .title {
            font-size: 16px;
            color: #333;
        }

        .price {
            font-size: 14px;
            color: #888;
        }
    }
}
